{% extends 'base.html' %}

{% block head %}
    <title>Detail project</title>
{% endblock %}

{% block body %}
    {% include 'todo_app/navbar.html' %}
    <div class="container">
        <div class="jumbotron">
            <h1>Project: {{ project.name }}</h1>
            <hr>
            <ol>
                {% for task in project.tasks.all %}
                    <h2>
                        <li>Task: {{ task }}</li>
                    </h2>
                {% endfor %}
            </ol>
            <h2>Count of task: {{ project.tasks.count }}</h2>
        </div>
    </div>
{% endblock %}
